# Bibliotecas do NodeJS
node_modules

# Diretório usado para armazenar arquivo gerados automaticamente.
# Possui o código transpilado para JavaScript que será enviado para o Screeps.
output

# Resultados da execução dos testes unitários.
coverage

# Arquivo com dados de autenticação no servidor do Screeps.
*screeps.json
